
*{

    margin: 0px;
    padding: 0%;
    
    }
    
    body {
        
        height: 100%;
        background-color: #97d7ff;
    
         
        }
    
    .cabeçalho {
       
        color: white;
        display: flex;
        padding: 0 25px;
        box-shadow: 6px 6px 10px #6eb5e1;
        height: 100px ;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    
    .titulo {
        margin-left: -50px;
        height: 100px;
        align-items: center;
        box-shadow: 6px 0px 10px #6eb5e1;
        border-radius: 18px;
        align-items: center;
    }

    .links {
        
        display: flex;
        justify-content: space-around;
        list-style: none ;
        margin-right: 70px ;
        font-family: cursive;
        font-size: 25px;
        text-shadow: 6px 5px 5px #5a9ec9;
    }

    .proflist {
        
        margin-right: 50px;

    }


    .escolalist {

     

    }

    a:link{

        color: #ffff;
        text-decoration: none;
        }
        
        a:visited{
        
        color: #ffff;
        text-decoration: none;
        
        }


    h4 {

        margin-top: 50px;
        font-family: cursive;
        font-size: 30px;
        text-align: center;
        color: rgb(255, 255, 255);
        text-shadow: 6px 5px 5px #5a9ec9;
        }

    .fotos {
        justify-items: center;
        display: grid;
        height: 320px ;
        margin-top: 30px;
        grid-template-columns: 5% 25% 20% 20% 25% ;
        border-radius: 18px;
       
    }

    h3 {

        margin-top: 200px;
        text-align: center;
        font-family: cursive;
        color: #ffffff;
        text-shadow: 6px 5px 5px #5a9ec9;
        font-size: 50px;
        

    }

    .criadoras  {
    
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        justify-items: center;
      
    }

    .perfil {
        margin-top: 100px;
        width: 200px ;
        border-radius: 20px;
        
    }

    .txt {
    background-color: #313030d7;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-family: cursive;
    margin-left: -10px;
    margin-right: -10px;
    
    
    }

    footer {
        font-size: 20px;
margin-bottom: 50px;
margin-top: 150px;
text-align: center;
color: #ffffff;
text-shadow: 6px 5px 5px #3e7da3;
    }


